body {
    margin: 0;
}
html, body {
    height: 100%;
}

#map {
    z-index:-1;position:absolute; width:100%;height:100%; margin:0; padding:0;
}
/*#map потом поставить z-index:-1;*/

#inputPanel{
    margin: 0; padding: 1px 75px;
}
.blueCluster{
    background-color: deepskyblue;
    border-radius: 3px;
    background-image: url('home64.png');
    text-align: center;
    font-size: 14px;
}

.greenCluster{
    background-color: green;
    border-radius: 3px;
    background-image: url('home64.png');
    text-align: center;
    font-size: 14px;
}